:root{
    scroll-behavior: smooth;
}

*{
    font-family: Segoe UI, Roboto, sans-serif;
    text-align: center;
    color: white;
}

body{
    margin: 0px;
}

.section-div{
    padding: 55px;
    padding-top: 80px;
}

#menu{
    background-color: rgba(255, 255, 255, 0);
    z-index: 1000;
    display: flex;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#menu p, #menu a{
    flex: 1;
    margin-top: 16px;
    margin-bottom: 16px;
    text-decoration: none;
}

#home{
    background-color: #050535;
    font-size: 20px;
    padding: 30px;
}

#home #name{
    font-size: 70px;
    margin-top: 180px;
    margin-bottom: 10px;
}

#home p{
    margin: 10px;
}

#home #links{
    display: flex;
    height: 50px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 80px;
}

#home #links a{
    margin: 10px;
}

#home #links img{
    height: 50px;
}

#home #scroll{
    margin-top: 170px;
    font-size: 17px;
}

#home #scroll a{
    display: flex;
    justify-content: center;
    text-decoration: none;
}

#home #scroll div{
    height: 30px;
    flex: 0;
}

#home #scroll #scroll-one p{
    text-align: right;
    width: 100px;
    animation: bounce 1.5s ease infinite;
    text-align: right;
    margin-right: 3px;
}

#home #scroll #scroll-two p{
    text-align: center;
    width: max-content;
}

#home #scroll #scroll-three p{
    width: 100px;
}

@keyframes bounce {
    0%{
        transform: translateY(-20%);
    }
    50%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(-20%);
    }
}

#about{
    background-color: #0D2256;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about #image-container{
    flex: 0.7;
}

#about img{
    height: 300px;
    border-radius: 50%;
}

#about #txt-content{
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
}

#about h1, #about p, #about button{
    margin-top: 30px;
    margin-bottom: 30px;
}

#about p{
    font-size: 18px;
}

#about button{
    background-color: #2A80C0;
    border-radius: 5px;
    border: solid #2A80C0;
    padding: 10px;
    box-shadow: none;
    display: block;
    margin: auto;
}

#about button:hover{
    background-color: transparent;
    border-color: white;
}

#about button a{
    text-decoration: none;
}

#about .start-end-div{
    flex: 0.1;
    width: 50px;
}

#projects{
    background-color: #050535;
}

#projects h1{
    margin-bottom: 30px;
}

#projects p{
    margin-bottom: 50px;
}

#projects a{
    color: #2A80C0;
}

#projects #project-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    margin: auto;
}

#projects .project-tile{
    margin: auto;
    background-color: white;
    width: 400px;
    border-radius: 5px;
    padding: 10px;
}

#projects .project-tile p, #projects .project-tile h1, #projects .project-tile button, #projects .project-tile span{
    color: black;
}

#projects .project-tile h1{
    font-size: 20px;
    margin: 13px;
}

#projects .project-tile p{
    margin: 16px 16px;
}

#projects .project-tile button{
    background-color: #F0ECEC;
    border: solid grey;
    border-width: thin;
    border-radius: 3px;
    padding-inline: 6px;
    padding-bottom: 9px;
}

#projects .project-tile button:hover{
    border: solid black;
    background-color: #E5E5E5;
    border-width: thin;
}

#projects .project-tile button img{
    height: 20px;
    transform: translate(0px, 4px);
}

#projects .project-tile button p{
    display: inline;
    margin: 0px;
}

#projects .project-tile .language-title{
    display: inline;
    margin: 3px;
}

#projects .project-tile .language{
    font-size: 13px;
    font-family: monospace;
    background-color: #F0ECEC;
}

#skills{
    background-color: #0D2256;
}

#skills h1{
    margin-bottom: 50px;
}

#skills #skills-container{
    display: flex;
    margin: auto;
    overflow-x: auto;
    flex-wrap: nowrap;
    -ms-overflow-style: none; /* disable scroll bar for IE and edge */ 
    scrollbar-width: none; /* disable scroll bar for firefox */
}

#skills-container::-webkit-scrollbar{
    display: none; /* disable scroll bar for chrome, safari and opera */
}

#skills .skills-tile{
    flex: 0 0 auto;
    margin: 20px;
    background-color: white;
    display: inline-block;
    width: 400px;
    height: 200px;
}

#skills .skills-tile p, #skills .skills-tile h1{
    color: black;
}

#contact{
    background-color: #050535;
}

#contact #email{
    height: 100px;
    background-color: #2A80C0;
    border-radius: 10px;
    margin: 40px;
    display: flex;
}

#contact #email:hover{
    background-color: #2f8dd4;
}

#contact #email div{
    flex: 1;
}

#contact #email img{
    height: 100px;
}

#contact #email p{
    text-align: left;
    padding: 20px;
    flex: 1;
}

#bottom{
    background-color: #0D2256;
    padding: 10px;
}

#scroll-to-top{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    background-color: #2A80C0;
    padding-top: 6px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 20px;
    font-family: none;
}

#scroll-to-top:hover{
    background-color: #2f8dd4;
}