*{
    font-family: Segoe UI, Roboto, sans-serif;
    text-align: center;
    color: white;
}

body{
    margin: 0px;
}

.section-div{
    padding: 10px;
}

#menu{
    background-color: rgb(49, 37, 37);
    display: flex;
}

#menu p, #menu a{
    flex: 1;
    margin-top: 16px;
    margin-bottom: 16px;
    text-decoration: none;
}

#home{
    background-color: rgb(80, 87, 94);
    font-size: 25px;
}

#home #name{
    font-size: 50px;
    margin-bottom: 10px;
}

#home #links{
    display: flex;
    height: 30px;
    justify-content: center;
    margin-bottom: 50px;
}

#home #links a{
    margin: 10px;
}

#home #links img{
    height: 30px;
}

#home #scroll{
    font-size: 17px;
}

#about{
    background-color: rgb(47, 65, 65);
}

#about img{
    height: 100px;
    display: inline-block;
    vertical-align: top;
}

#about p{
    display: inline-block;
    vertical-align: top;
    width: 500px;
}

#about button{
    background-color: black;
    border-radius: 5px;
    border: solid rgb(0, 0, 0);
    padding: 10px;
    box-shadow: none;
    display: block;
    margin: auto;
}

#about button:hover{
    background-color: transparent;
    border-color: white;
}

#skills{
    background-color: rgb(66, 66, 59);
}

#projects{
    background-color: rgb(116, 78, 20);
}

#contact{
    background-color: rgb(28, 27, 59);
}

#bottom{
    background-color: rgb(54, 49, 49);
}