*{
    font-family: Segoe UI, Roboto, sans-serif;
    text-align: center;
    color: white;
}

body{
    margin: 0px;
}

.section-div{
    padding: 55px;
}

#menu{
    background-color: rgb(49, 37, 37);
    display: flex;
    padding: 10px;
}

#menu p, #menu a{
    flex: 1;
    margin-top: 16px;
    margin-bottom: 16px;
    text-decoration: none;
}

#home{
    background-color: rgb(80, 87, 94);
    font-size: 20px;
    padding: 30px;
}

#home #name{
    font-size: 70px;
    margin-top: 100px;
    margin-bottom: 10px;
}

#home p{
    margin: 10px;
}

#home #links{
    display: flex;
    height: 50px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 80px;
}

#home #links a{
    margin: 10px;
}

#home #links img{
    height: 50px;
}

#home #scroll{
    margin-top: 170px;
    font-size: 17px;
}

#about{
    background-color: rgb(47, 65, 65);
    display: flex;
    align-items: center;
    justify-content: center;
}

#about #image-container{
    flex: 0.7;
}

#about img{
    height: 300px;
    border-radius: 50%;
}

#about #txt-content{
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
}

#about h1, #about p, #about button{
    margin-top: 30px;
    margin-bottom: 30px;
}

#about p{
    font-size: 18px;
}

#about button{
    background-color: black;
    border-radius: 5px;
    border: solid rgb(0, 0, 0);
    padding: 10px;
    box-shadow: none;
    display: block;
    margin: auto;
}

#about button:hover{
    background-color: transparent;
    border-color: white;
}

#about .start-end-div{
    flex: 0.1;
    width: 50px;
}

#skills{
    background-color: rgb(66, 66, 59);
}

#projects{
    background-color: rgb(116, 78, 20);
}

#contact{
    background-color: rgb(28, 27, 59);
}

#bottom{
    background-color: rgb(54, 49, 49);
    padding: 10px;
}